@use '~/styles/config' as *;

.dropdown {
  display: inline-block;
  width: fit-content;

  &__menu {
    position: absolute;
    top: 100%;
    min-width: 150px;
    background: white;
    border-radius: 4px;
    border: $border-color solid 1px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 10;

    &--left {
      right: 0;
    }

    &--right {
      left: 0;
    }
  }

  &__item {
    padding: 10px 15px;
    cursor: pointer;
    transition: background 0.2s;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 1rem;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;

    &--active {
      span {
        color: $accent-color-87 !important;
      }
    }

    span {
      color: $text-header-color;
    }

    &:hover {
      background: rgba($accent-color, 0.13);
    }
  }
}