@use '~/styles/config' as *;

.action-button {
  all: unset;
  width: 24px;
  height: 24px;
  min-width: 24px;
  max-width: 24px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  transition: background-color 0.2s;
  flex-shrink: 0;

  &__spinner {
    animation: spin 1.5s ease-in-out infinite;
    color: $accent-color;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}