$accent-color: #002CFB;
$green-color: #28A879;
$light-green-color: #DBF8EF;
$red-color: #EA1A4F;
$light-red-color: #FEE9EF;
$icon-color: #ADBFDF;
$secondary-color: #D8E4FB;
$text-dark-color: #122945;
$text-secondary-color: #5E7793;
$text-green-color: #00A775;
$text-header-color: #899CB1;
$background-color: #E9EDF3CC;
$background-main-color: #F1F4F9;
$background-hover-color: #f8fafd;
$background-audio-player-color: #EAF0FAFC;
$border-color: #EAF0FA;

$accent-color-87: rgba($accent-color, 0.87);
$text-secondary-color-87: rgba($text-secondary-color, 0.87);
$text-dark-color-87: rgba($text-dark-color, 0.87);