@use '~/styles/config' as *;

.arrow-call {
  &--incoming {
    fill: $accent-color;
  }

  &--outgoing {
    fill: $green-color;
  }

  &--missed, &--failure {
    fill: $red-color;
  }

  &--failure, &--outgoing {
    rotate: 180deg;
  }
}