@use '~/styles/config' as *;

.filter-section {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 16px;

  &__filter-btn {
    &--active {
      span {
        color: $accent-color !important;
      }
    }

    span {
      font-family: inherit;
      font-weight: 400;
      color: $text-secondary-color-87;
      font-size: 1rem;
    }
  }
}