@use '~/styles/config' as *;

.call-log-container {
  padding: 19px;
  display: flex;
  flex-direction: column;
  flex: 1;

  .call-log-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 19px;
    flex: 0;

    .date-navigation {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }
}